$light: #ffffff;
$dark: rgb(27, 22, 22);

body{
    background-color: $dark;
    &.fondo-index{
        background-image: url(../imagenes/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
}

a{
    text-decoration: none ;
}

nav{
    &.nav-index{
        font-family: 'Overpass', sans-serif;
        font-size: 1.25rem;
        text-align: right;
        a{
            padding-right: 2rem;
        }      
    }
    a{
        color: $light;
        &:hover{
            font-weight: bold;
        }
    }
   
}

h1 {
    font-family: 'Staatliches', cursive;
    &.logo-index{
        font-size: 10rem;
        text-align: right;
        margin-top: 37vh;
        &:hover{
            font-size: 11rem;
        }
    }
    a{
        color: $light;
    }
}